.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}


text/css style.css ( ASCII text, with very long lines )
@import url('https://fonts.googleapis.com/css?family=Nunito');

body {
  font-family: 'Nunito', sans-serif;
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.89;
  letter-spacing: normal;
  color: #000000;
  background: url(../assets/images/body_bg_top.png) left top repeat-x;
  padding: 0;
}
.container {
  width: 100%;
  height: auto;
  background-color: #ffffff;
  padding: 0;
  max-width: 100%;
}
.row {
  margin: 0;
}
.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
  padding-right: 0px;
  padding-left: 0px;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  width: 100%;
}

.logo_row img {
  float: left;
}

.header_row {
  padding: 65px 0 0 50px;
}
.header_row img.mobile_hd, .logo_row img.logo_mobile, .mobile_btntext {
  display: none;
}
.header_row .hd_left h1 {
  font-family: 'Nunito', sans-serif;
  font-size: 40px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.85;
  letter-spacing: normal;
  text-align: left;
  color: #417505;
  padding-top: 82px;
  margin-bottom: 20px;
}
.header_row .hd_left h1 span {
 color: #000;
}

.btn.btn-hd {
  width: 177px;
  height: 44px;
  border-radius: 12px;
  border: solid 1px #417505;
  color: #417505;
  background: transparent;
  font-size: 18px;
  margin-top: 10px;
}
.header_row .scroll_txt {
  margin-top: 150px;
}
.header_row .hd_right img {
  width: 93%;
  height: auto;
  float: right;
  max-width: 650px;
}


.about_row {
  padding: 50px 60px;
}
.about_row .abt_left {
  padding: 5px 25px 0 0px;
  max-width: 23%;
}
.about_row .abt_right {
  max-width: 77%;
}
.about_row .abt_left img.profile_img {
  width: 100%;
  height: auto;
  max-width: 224px;
  display: block;
  margin: 0 auto;
}
.about_row h2 {
 margin-bottom: 40px;
 text-align: center;
}
.about_row h2 .title_left {
  margin-right: 20px;
}
.about_row h2 .title_right {
  margin-left: 20px;
}
.about_row .abt_left .abt_social_media {
  text-align: center;
  padding-top: 25px;
}
.about_row .abt_left .abt_social_media a {
  margin-right: 35px;
}
.about_row .abt_left .abt_social_media a:last-child {
  margin-right: 0px;
}

.form_row {
  padding: 10px 0 30px;
}
.form_block {
  width: 1030px;
  border-radius: 5px;
  box-shadow: 0 20px 40px 0 rgba(155, 155, 155, 0.18);
  background-color: #ffffff;
  border: solid 1px #417505;
  margin: 0 auto;
}
.form_block h2 {
  font-size: 22px;
  color: #000;
  text-align: center;
  padding: 20px 0 25px;
  margin: 0;
}
.form_block form {
  width: 640px;
  margin: 0 auto;
}
.form_block form p {
  margin-bottom: 5px;
  font-size: 15px;
  color: #4c586e;
}
.form_block form p span {
  color: #ff0000;
}
.form_row1 .input-group {
  margin-bottom: 20px;
}
.form_row1 input {
  width: 232px;
}
.form_row2 input {
  width: 265px;
}
.form_row2 .form_left {
  padding-right: 9px;
}
.form_row2 .form_right {
  padding-left: 9px;
}
.form_block button {
  background: #36802d;
  display: block;
  margin: 20px auto 20px;
}
.form_block .form_icon {
  width: 45px;
  height: 48px;
  text-align: center;
  line-height: 48px;
  border: 2px solid #c4c4c4;
  border-right: 0px solid #c4c4c4;
  border-radius: 5px 0 0 5px;
  border-collapse: collapse;
}
.form_block .firstname_input {
  border-right: 0px solid #c4c4c4;
}
.form_block form .input-group .firstname_input, .form_block form .input-group .lastname_input {
  width: 297px;
}
.form_block input {
  height: 48px;
  border: 2px solid #c4c4c4;
  border-collapse: collapse;
}

.footer_row {
  background: #2d2d2d;
  padding: 35px 0;
  color: #fff;
  font-size: 15px;
}
.footer_row .footer_top {
  padding: 0 0 25px 0;
  background: url(../assets/images/footer_border.png) left bottom repeat-x;
  margin-bottom: 15px;
  width: 100%;
  max-width: 1030px;
  margin: 0 auto 20px;
}
.footer_top .ft_right {
  text-align: right;
}
.footer_top .ft_right a.footer_fb_icon {
  margin: 0 10px 0 15px;
}
.copyrights {
  font-size: 10px;
  text-align: center;
  width: 100%;
}
.form_block p.form_succ {
    color: #008000;
    text-align: center;
    font-size: 15px;
}
.form_block p.form_err {
    color: #ff0000;
    text-align: center;
    font-size: 15px;
}
label.error {
    color: #ff0000;
    font-size: 14px;
}
.know_more_content {
  width: 90%;
  margin: 0 auto;
  max-width: 1200px;
  padding-bottom: 20px;
}
.know_more_content h1 {
  font-size: 26px;
}
.know_more_content p {
  line-height: 28px;
}
.know_more_content ol {
  margin-top: -15px;
}
.form_block form .input-group .fulln_blk {
  display: none;
}
.dsk_form {
  display: block;
}
.mbl_form {
  display: none;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
